# =====================================================================================================================
# environment variables for app
# =====================================================================================================================

# =====================================================================================================================
# app
# =====================================================================================================================

# local
# ---------------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_APP_BASE_URL="http://localhost:${PORT:-3000}"
# imprint service
NEXT_PUBLIC_APP_IMPRINT_CUSTOM_CONFIG="enabled"
NEXT_PUBLIC_APP_IMPRINT_SERVICE_BASE_URL="https://imprint.acdh.oeaw.ac.at"
NEXT_PUBLIC_APP_SERVICE_ID="22513"
# web crawlers
NEXT_PUBLIC_APP_BOTS="disabled"

# =====================================================================================================================
# analytics
# =====================================================================================================================

# production
# ---------------------------------------------------------------------------------------------------------------------

# NEXT_PUBLIC_APP_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_APP_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NEXT_PUBLIC_APP_MATOMO_ID="247"

# =====================================================================================================================
# email
# =====================================================================================================================

# local
# ---------------------------------------------------------------------------------------------------------------------

EMAIL_ADDRESS="dariah@example.com"
EMAIL_SMTP_PORT="1025"
EMAIL_SMTP_SERVER="localhost"
# EMAIL_SSL_CONNECTION="disabled"

# for e2e tests
MAILPIT_API_BASE_URL="http://localhost:8025"

# production
# ---------------------------------------------------------------------------------------------------------------------

# EMAIL_ADDRESS=
# EMAIL_SMTP_PASSWORD=
# EMAIL_SMTP_PORT="587"
# EMAIL_SMTP_SERVER="smtp.oeaw.ac.at"
# EMAIL_SMTP_USERNAME=
# EMAIL_SSL_CONNECTION="disabled"

# =====================================================================================================================
# images
# =====================================================================================================================

# local
# ---------------------------------------------------------------------------------------------------------------------

IMGPROXY_BASE_URL="http://localhost:8080"
IMGPROXY_KEY=# `openssl rand --hex 32`
IMGPROXY_PORT="8080"
IMGPROXY_SALT=# `openssl rand --hex 16`

# production
# ---------------------------------------------------------------------------------------------------------------------

# IMGPROXY_BASE_URL="https://imgproxy.acdh.oeaw.ac.at"
# IMGPROXY_KEY=
# IMGPROXY_PORT="443"
# IMGPROXY_SALT=

# =====================================================================================================================
# observability
# =====================================================================================================================

# production
# ---------------------------------------------------------------------------------------------------------------------

# APP_SENTRY_AUTH_TOKEN=
# NEXT_PUBLIC_APP_SENTRY_DSN="https://c7700b22eb27b093af5af188c41058d1@o4504360778661888.ingest.us.sentry.io/4510362130251776"
# NEXT_PUBLIC_APP_SENTRY_ORG="acdh"
# NEXT_PUBLIC_APP_SENTRY_PII="disabled"
# NEXT_PUBLIC_APP_SENTRY_PROJECT="dariah-knowledge-base"

# =====================================================================================================================
# search
# =====================================================================================================================

NEXT_PUBLIC_TYPESENSE_COLLECTION_NAME_RESOURCES="dariah-resources"
NEXT_PUBLIC_TYPESENSE_COLLECTION_NAME_WEBSITE="dariah-website"

# local
# ---------------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_TYPESENSE_HOST="localhost"
NEXT_PUBLIC_TYPESENSE_PORT="8108"
NEXT_PUBLIC_TYPESENSE_PROTOCOL="http"
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=# initialized in `dev:services:setup` script
TYPESENSE_ADMIN_API_KEY=# `openssl rand --hex 32`

# production
# ---------------------------------------------------------------------------------------------------------------------

# NEXT_PUBLIC_TYPESENSE_HOST="typesense.acdh-dev.oeaw.ac.at"
# NEXT_PUBLIC_TYPESENSE_PORT="443"
# NEXT_PUBLIC_TYPESENSE_PROTOCOL="https"
# NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
# TYPESENSE_ADMIN_API_KEY=

# =====================================================================================================================
# storage
# =====================================================================================================================

S3_BUCKET_NAME="dariah-knowledge-base"

# local
# ---------------------------------------------------------------------------------------------------------------------

# also used for minio web ui sign-in
S3_ACCESS_KEY=# `openssl rand --hex 16`
S3_HOST="localhost"
S3_PORT="9000"
S3_PROTOCOL="http"
# also used for minio web ui sign-in
S3_SECRET_KEY=# `openssl rand --hex 32`

# production
# ---------------------------------------------------------------------------------------------------------------------

# S3_ACCESS_KEY=
# S3_HOST="s3.acdh-ch-dev.oeaw.ac.at"
# S3_PORT="443"
# S3_PROTOCOL="https"
# S3_SECRET_KEY=
