engine-strict=true
manage-package-manager-versions=true
package-manager-strict=false
shell-emulator=true
strict-dep-builds=true

# @see https://github.com/vercel/next.js/issues/68805
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
