::view-transition-new(.toast):only-child {
	animation: slide-in 500ms;
}

::view-transition-old(.toast):only-child {
	animation: slide-out 500ms;
}

@keyframes slide-out {
	to {
		opacity: 0%;
		translate: 100% 0;
	}
}

@keyframes slide-in {
	from {
		opacity: 0%;
		translate: 100% 0;
	}
}
